<mat-card>
    <mat-card-title>Standard Stats</mat-card-title>
    <mat-card-content>
        <div class="grid-container">
            <div class="stat-name">Games Played</div>
            <div class="stat">{{playerStats?.g}}</div>
            <div class="stat-name">At Bats</div>
            <div class="stat">{{playerStats?.ab}}</div>
            <div class="stat-name">Average</div>
            <div class="stat">{{playerStats?.avg}}</div>
            <div class="stat-name">On Base Percentage</div>
            <div class="stat">{{playerStats?.obp}}</div>
            <div class="stat-name">Slugging Percentage</div>
            <div class="stat">{{playerStats?.slg}}</div>
            <div class="stat-name">OPS</div>
            <div class="stat">{{playerStats?.ops}}</div>
            <div class="stat-name">Home Runs</div>
            <div class="stat">{{playerStats?.hr}}</div>
            <div class="stat-name">Hits</div>
            <div class="stat">{{playerStats?.h}}</div>
            <div class="stat-name">Runs</div>
            <div class="stat">{{playerStats?.r}}</div>
        </div>
    </mat-card-content>
</mat-card>